@import "src/scss/variables.scss";

/*=========================
    Footer
==========================*/
.footer {
    margin-top: 30px;
    height: auto;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background-color: $color-white;
    position: absolute;
    bottom: 0;

    .paragraph-secundary {
        color: $color-black;
    }
}